<!DOCTYPE html>
<html>

<head>
  <title>all</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="theme-color" content="#2c3e50">
  <meta name="msapplication-TileColor" content="#2c3e50">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="#2c3e50">
  <meta name="apple-mobile-web-app-title" content="{{title}}">
  {% for cssLink in cssLinks %}
  <link href="{{cssLink|safe}}" rel="stylesheet" type="text/css"> {% endfor %}
</head>

<body>
  {% for pageBody in pagesBodies %} {{pageBody|safe }} {% endfor %}
</body>

</html>
